.aux-master-menu-setting-wrapper {padding: 10px 10px;float: left;background: #fcfcfc;border: 1px solid #e0e0e0;border-radius: 3px;width: 97%;box-sizing: border-box;margin-top: 10px;margin-bottom: 10px;}
.aux-master-menu-setting-wrapper .widefat {max-width: 93%;}
.aux-mm-mega-badge {font-size: 11px !important;border: 1px solid #ddd;padding: 1px 5px !important;margin-right: 5px;border-radius: 3px;}
.aux-mm-col-badge {font-size: 11px !important;border: 1px solid #ddd;padding: 1px 5px !important;margin-right: 5px;border-radius: 3px;}
.aux-master-menu-setting-wrapper > p {padding-bottom: 7px;}
.icons-selector {margin-right: 5px;}
.rtl .icons-selector {margin-left: 5px;}