.highlight-and-share-wrapper {display: none;width: 0;height: 0;}
.highlight-and-share-wrapper .fa {font-size: 14px;}
.highlight-and-share-wrapper div {padding: 10px;background: #32ccfe;-moz-transition: background-color .2s;-o-transition: background-color .2s;-webkit-transition: background-color .2s;transition: background-color .2s;z-index: 1000;margin-right: 5px;margin-bottom: 10px;}
.highlight-and-share-wrapper div:last-child {margin-right: 0;}
.highlight-and-share-wrapper div.has_facebook {background: #3c5a9e;}
.highlight-and-share-wrapper div.has_linkedin {background: #0085ae;}
.highlight-and-share-wrapper div.has_pinterest {background: #cc2127;}
.highlight-and-share-wrapper div.has_xing {background: #be4bdb;}
.highlight-and-share-wrapper div.has_whatsapp {background: #04e26a;}
.highlight-and-share-wrapper div.has_copy {background: #222;}
.highlight-and-share-wrapper div.has_email {background: #0074a2;}
.highlight-and-share-wrapper div.has_twitter:hover {background: #00aced;}
.highlight-and-share-wrapper div.has_facebook:hover {background: #1f3c83;}
.highlight-and-share-wrapper div.has_linkedin:hover {background: #23a0c7;}
.highlight-and-share-wrapper div.has_pinterest:hover {background: #d93238;}
.highlight-and-share-wrapper div.has_copy:hover {background: #e8e8e8;}
.highlight-and-share-wrapper div.has_email:hover {background: #1388b7;}
.highlight-and-share-wrapper div.has_xing:hover {background: #a53bc0;}
.highlight-and-share-wrapper div.has_whatsapp:hover {background: #02b857;}
.highlight-and-share-wrapper a, .highlight-and-share-wrapper a:hover, .highlight-and-share-wrapper a:visited {font-family: "FranklinGothic",Helvetica,sans-serif;font-weight: 700;text-transform: uppercase;letter-spacing: .15em;letter-spacing: .2em;font-size: 14px;color: #f8f8f8;display: block;height: 100%;padding: 12px 20px;text-decoration: none;}