.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {color: #6ec1e4;}
.elementor-widget-heading .elementor-heading-title {font-family: "Arial",Sans-serif;}
.elementor-widget-image .widget-image-caption {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-text-editor {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {background-color: #6ec1e4;}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {color: #6ec1e4;border-color: #6ec1e4;}
.elementor-widget-button a.elementor-button, .elementor-widget-button .elementor-button {font-family: "Tahoma",Sans-serif;background-color: #61ce70;}
.elementor-widget-divider .elementor-divider-separator {border-top-color: #7a7a7a;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-title {color: #6ec1e4;font-family: "Arial",Sans-serif;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-icon.elementor-view-stacked .elementor-icon {background-color: #6ec1e4;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon {color: #6ec1e4;border-color: #6ec1e4;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg {fill: #6ec1e4;}
.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {background-color: #6ec1e4;}
.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon {fill: #6ec1e4;color: #6ec1e4;border-color: #6ec1e4;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title {color: #6ec1e4;font-family: "Arial",Sans-serif;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-star-rating .elementor-star-rating__title {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-image-gallery .gallery-item .gallery-caption {font-family: "Tahoma",Sans-serif;}
.elementor-widget-image-carousel .elementor-image-carousel-caption {font-family: "Tahoma",Sans-serif;}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {border-color: #7a7a7a;}
.elementor-widget-icon-list .elementor-icon-list-icon i {color: #6ec1e4;}
.elementor-widget-icon-list .elementor-icon-list-icon svg {fill: #6ec1e4;}
.elementor-widget-icon-list .elementor-icon-list-text {color: #54595f;}
.elementor-widget-icon-list .elementor-icon-list-item {font-family: "Tahoma",Sans-serif;}
.elementor-widget-counter .elementor-counter-number-wrapper {color: #6ec1e4;font-family: "Arial",Sans-serif;}
.elementor-widget-counter .elementor-counter-title {color: #54595f;font-family: "Arial",Sans-serif;}
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {background-color: #6ec1e4;}
.elementor-widget-progress .elementor-title {color: #6ec1e4;font-family: "Tahoma",Sans-serif;}
.elementor-widget-testimonial .elementor-testimonial-content {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-testimonial .elementor-testimonial-name {color: #6ec1e4;font-family: "Arial",Sans-serif;}
.elementor-widget-testimonial .elementor-testimonial-job {color: #54595f;font-family: "Arial",Sans-serif;}
.elementor-widget-tabs .elementor-tab-title {color: #6ec1e4;font-family: "Arial",Sans-serif;}
.elementor-widget-tabs .elementor-tab-title.elementor-active {color: #61ce70;}
.elementor-widget-tabs .elementor-tab-content {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title {color: #6ec1e4;font-family: "Arial",Sans-serif;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active {color: #61ce70;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-content {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title {color: #6ec1e4;font-family: "Arial",Sans-serif;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title.elementor-active {color: #61ce70;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-content {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-alert .elementor-alert-title {font-family: "Arial",Sans-serif;}
.elementor-widget-alert .elementor-alert-description {font-family: "Tahoma",Sans-serif;}
.elementor-widget-aux_recent_posts .entry-title a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts .entry-info, .elementor-widget-aux_recent_posts .entry-info a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts .entry-content {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts .entry-badge a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts .entry-meta, .elementor-widget-aux_recent_posts .entry-meta a, .elementor-widget-aux_recent_posts .entry-meta span {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts .entry-meta .aux-read-more {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_masonry .entry-title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_masonry .entry-info, .elementor-widget-aux_recent_posts_masonry .entry-info a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_masonry .entry-content {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_masonry .entry-meta, .elementor-widget-aux_recent_posts_masonry .entry-meta a, .elementor-widget-aux_recent_posts_masonry .entry-meta span {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_masonry .aux-read-more {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_land_style .entry-title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_land_style .entry-info, .elementor-widget-aux_recent_posts_land_style .entry-info a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_land_style .entry-content {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_land_style .entry-meta, .elementor-widget-aux_recent_posts_land_style .entry-meta a, .elementor-widget-aux_recent_posts_land_style .entry-meta span {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_timeline .entry-title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_timeline .entry-info, .elementor-widget-aux_recent_posts_timeline .entry-info a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_timeline .entry-content {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_timeline .entry-meta, .elementor-widget-aux_recent_posts_timeline .entry-meta a, .elementor-widget-aux_recent_posts_timeline .entry-meta span {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_tiles .entry-title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_tiles .entry-info, .elementor-widget-aux_recent_posts_tiles .entry-info a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_tiles_carousel .entry-title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_posts_tiles_carousel .entry-info, .elementor-widget-aux_recent_posts_tiles_carousel .entry-info a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_product .woocommerce-loop-product__title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_product .auxshp-meta-terms, .elementor-widget-aux_recent_product .auxshp-meta-terms a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recentcomments .entry-title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recentcomments .entry-info, .elementor-widget-aux_recentcomments .entry-info a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_modern_heading .aux-modern-heading-primary {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_modern_heading .aux-modern-heading-secondary {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_modern_heading .aux-modern-heading-secondary .aux-head-highlight {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_modern_heading .aux-modern-heading-description {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_icon.elementor-view-stacked .elementor-icon {background-color: #6ec1e4;}
.elementor-widget-aux_icon.elementor-view-framed .elementor-icon, .elementor-widget-aux_icon.elementor-view-default .elementor-icon {color: #6ec1e4;border-color: #6ec1e4;}
.elementor-widget-aux_image .aux-ribbon-wrapper span {font-family: "Arial",Sans-serif;}
.elementor-widget-aux-gallery .aux-gallery-container .aux-frame-darken:after {background-color: #61ce70;}
.elementor-widget-aux_text .col-title, .elementor-widget-aux_text .col-title a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_text .col-subtitle {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_text .widget-content {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_text .aux-text {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_button .aux-text {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_accordion .aux-toggle-header {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_accordion .aux-toggle-content {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_tabs .tabs a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_tabs .tabs-content .entry-editor {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_blockquote .aux-elem-quote p {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_blockquote .aux-quote-symbol:before {font-family: "Tahoma",Sans-serif;}
.elementor-widget-aux_testimonial .col-title, .elementor-widget-aux_testimonial .col-title a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_testimonial .col-subtitle {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_testimonial .aux-testimonial-content {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_touch_slider .aux-slide-title h3 {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_touch_slider .aux-slide-info {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_staff .col-title, .elementor-widget-aux_staff .col-title a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_staff .aux-staff-content .col-subtitle {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_staff .entry-content {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_icon_list .aux-icon-list-text {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_icon_list .aux-icon-list-text2 {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_shopping_cart .aux-cart-contents>span {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_shopping_cart .aux-cart-wrapper .aux-card-item h3 {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_shopping_cart .aux-cart-wrapper .aux-card-item span {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_current_time .aux-current-time {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_search_box .aux-search-form .aux-search-field {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_search_box .aux-search-form .aux-search-submit {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_site_title .aux-site-title-heading {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_site_title .aux-site-title-before-heading {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_site_title .aux-site-title-after-heading {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_menu_box .aux-menu-depth-0>.aux-item-content {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_menu_box .aux-submenu .aux-menu-item {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_post_title .entry-title, .elementor-widget-aux_post_title .entry-title a {color: #6ec1e4;}
.elementor-widget-aux_post_title .entry-title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_post_info .elementor-icon-list-item:not(:last-child):after {border-color: #7a7a7a;}
.elementor-widget-aux_post_info .elementor-icon-list-icon i {color: #6ec1e4;}
.elementor-widget-aux_post_info .elementor-icon-list-text, .elementor-widget-aux_post_info .elementor-icon-list-text a {color: #54595f;}
.elementor-widget-aux_post_info .elementor-icon-list-item {font-family: "Tahoma",Sans-serif;}
.elementor-widget-aux_post_content {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-aux_post_excerpt .elementor-widget-container {color: #7a7a7a;font-family: "Tahoma",Sans-serif;}
.elementor-widget-aux_faq .aux-faq-item-header {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_faq .aux-faq-item-content {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_3d_textbox .col-title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_3d_textbox .col-subtitle {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_countdown .aux-countdown-wrapper .aux-countdown-value {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_countdown .aux-countdown-wrapper .aux-countdown-seperator {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_countdown .aux-countdown-wrapper .aux-countdown-title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_price_list .aux-icon-list-text {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_price_list .aux-icon-list-text2 {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_price_list .aux-icon-list-description {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_flex_label .aux-flex-label-wrap {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_progressbar .aux-progressbar-title {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_progressbar .aux-progressbar-value {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_domain_checker .aux-button span {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_weather .aux-weather-name {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_weather .aux-weather-temp {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_flexible_recent_posts .pagination li, .elementor-widget-aux_flexible_recent_posts .pagination li a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_grid .aux-filters li>a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_grid .entry-header .entry-title a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_grid .entry-tax {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_masonry .entry-header .entry-title a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_masonry .entry-tax {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_tile .entry-header .entry-title a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_tile .entry-tax {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_tile_carousel .entry-header .entry-title a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_tile_carousel .entry-tax {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_grid_carousel .entry-header .entry-title a {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_grid_carousel .entry-tax {font-family: "Arial",Sans-serif;}
.elementor-widget-aux_recent_portfolios_grid_carousel .aux-mc-arrows .aux-text-arrow {font-family: "Arial",Sans-serif;}