.aux-logo-header .aux-logo-anchor>img {max-height: 110px;}
@media screen and (min-width:700px) {.aux-framed .aux-side-frames, body.aux-framed:after, .aux-framed .aux-side-frames:before, .aux-framed .aux-side-frames:after {background-color: #111;}}
.site-header-section .aux-header-elements:not(.aux-vertical-menu-elements), .site-header-section .aux-fill .aux-menu-depth-0>.aux-item-content {height: 110px;}
.site-header-section {background-color: rgba(255,255,255,0);}
.aux-top-sticky .site-header-section.aux-sticky .aux-fill .aux-menu-depth-0>.aux-item-content, .aux-top-sticky .site-header-section.aux-sticky .aux-header-elements {height: 80px;}
.site-header-section.aux-sticky {background-color: #fff;}
.aux-vertical-menu-side {background-color: #fff;}
.site-header-section .aux-middle .aux-menu-depth-0>.aux-item-content {height: 60px;}
.site-header-section .aux-header .aux-burger:before, .site-header-section .aux-header .aux-burger:after, .site-header-section .aux-header .aux-burger .mid-line {border-color: #3d3d3d;}
#fs-menu-search:before {background-color: rgba(255,255,255,.95);}
#top-header {background-color: #fff;}
.single-post .aux-overlay-bg-hash:before {opacity: .15;}
.page .aux-overlay-bg-hash:before {opacity: .5;}
.aux-subfooter-bar {background-color: #fafafa;}
.aux-subfooter-bar {border-top: 1px solid #eaeaea;}
.aux-subfooter {background-position: center center;}
.aux-subfooter {background-size: cover;}
.aux-subfooter {background-repeat: no-repeat;}
.aux-subfooter {border-top: 1px solid rgba(234,234,234,0);}
.aux-site-footer {background-color: #f9f9f9;}
.aux-site-footer {border-top: 1px solid rgba(234,234,234,0);}
.aux-site-footer {border-top-width: 0;}
.aux-logo-footer .aux-logo-anchor img {max-height: 50px;}
body {font-family: "Roboto";font-weight: regular;}
h1, h2, h3, h4, h5, h6, .aux-h1, .aux-h2, .aux-h3, .aux-h4, .aux-h5, .aux-h6 {font-family: "Roboto";font-weight: 300;}
.page-title {font-family: "Roboto";font-weight: 300;}
.aux-master-menu {font-family: "Roboto";font-weight: 500;}
.aux-button {font-family: "Roboto";font-weight: regular;}
.aux-subfooter {background-color: #f9f9f9;}
.aux-copyright {color: rgba(128,128,128,.7);}
.single-portfolio .aux-overlay-bg-hash:before {opacity: .5;}
.post-type-archive-portfolio .aux-entry-boxed .entry-main {background-color: #fff;}
.post-type-archive-portfolio .aux-entry-boxed .entry-main {border-color: #eaeaea !important;}
.post-type-archive-portfolio .aux-item-land .aux-land-side {background-color: #fff;}
.post-type-archive-portfolio .aux-item-land .aux-land-side {border-color: #eaeaea !important;}
.single-post .aux-primary .hentry .entry-title {font-family: "Quicksand";color: #113474;font-weight: 700;font-size: 55px;line-height: 69px;}
.single-post .hentry .entry-info {font-family: "Ubuntu";color: #aaa;font-size: 14px;font-weight: 400;text-transform: uppercase;line-height: 19px;}
.single-post .hentry .entry-info a {color: #aaa;}
.single-post .hentry .entry-content {font-family: "Roboto";color: gray;font-size: 16px;font-weight: 400;line-height: 26px;}
.single-post .hentry footer.entry-meta .entry-tax {font-family: "Roboto";color: #202020;font-size: 25px;font-weight: 500;font-style: normal;line-height: 30px;}
.single-post .hentry footer.entry-meta .entry-tax a, .single-post .hentry footer.entry-meta .entry-tax i {color: #113474;font-weight: 500;text-decoration: none;}
#reply-title {font-family: "Roboto";color: #202020;font-size: 34px;font-weight: 500;line-height: 41px;}
#commentform .comment-notes {font-family: "Roboto";color: gray;font-size: 16px;font-weight: 400;line-height: 26px;}
#commentform label {font-family: "Roboto";color: #393939;font-size: 15px;font-weight: 400;line-height: 17px;}