@font-face {font-family: "auxin-front";src: url("../../css/fonts/fontastic/auxin-front.eot");src: url("../../css/fonts/fontastic/auxin-front.eot?#iefix") format("embedded-opentype"),url("../../css/fonts/fontastic/auxin-front.woff") format("woff"),url("../../css/fonts/fontastic/auxin-front.ttf") format("truetype"),url("../../css/fonts/fontastic/auxin-front.svg#auxin-front") format("svg");font-weight: normal;font-style: normal;}
[data-icon]:before {font-family: "auxin-front" !important;content: attr(data-icon);font-style: normal !important;font-weight: normal !important;font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
[class^="auxicon-"]:before, [class*=" auxicon-"]:before {font-family: "auxin-front" !important;font-style: normal !important;font-weight: normal !important;font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.auxicon-2-arrows:before {content: "a";}
.auxicon-4-arrows:before {content: "b";}
.auxicon-back:before {content: "c";}
.auxicon-back-pack:before {content: "d";}
.auxicon-basket-1:before {content: "e";}
.auxicon-basket-2:before {content: "f";}
.auxicon-big-candy:before {content: "g";}
.auxicon-bottle:before {content: "h";}
.auxicon-bow-tie:before {content: "i";}
.auxicon-box-1:before {content: "j";}
.auxicon-box-2:before {content: "k";}
.auxicon-box-open:before {content: "l";}
.auxicon-candy:before {content: "m";}
.auxicon-cd-cover:before {content: "n";}
.auxicon-chopsticks:before {content: "o";}
.auxicon-cloud:before {content: "p";}
.auxicon-cloud-down:before {content: "q";}
.auxicon-cloud-up:before {content: "r";}
.auxicon-cloud-v-1:before {content: "s";}
.auxicon-cloud-v-2:before {content: "t";}
.auxicon-cloud-x-1:before {content: "u";}
.auxicon-cloud-x-2:before {content: "v";}
.auxicon-cofee-cup-1:before {content: "w";}
.auxicon-cofee-cup-2:before {content: "x";}
.auxicon-credit-card-1:before {content: "y";}
.auxicon-credit-card-2:before {content: "z";}
.auxicon-credit-card-3:before {content: "A";}
.auxicon-credit-card-4:before {content: "B";}
.auxicon-cup-1:before {content: "C";}
.auxicon-cup-2:before {content: "D";}
.auxicon-diamond:before {content: "E";}
.auxicon-dollar:before {content: "F";}
.auxicon-dollar-bill:before {content: "G";}
.auxicon-dollar-coin:before {content: "H";}
.auxicon-download:before {content: "I";}
.auxicon-euro:before {content: "J";}
.auxicon-euro-coin:before {content: "K";}
.auxicon-folder:before {content: "L";}
.auxicon-folder-plus:before {content: "M";}
.auxicon-folder-v:before {content: "N";}
.auxicon-folder-x:before {content: "O";}
.auxicon-forward:before {content: "P";}
.auxicon-glass-of-water:before {content: "Q";}
.auxicon-hamburger:before {content: "R";}
.auxicon-headphones:before {content: "S";}
.auxicon-headset:before {content: "T";}
.auxicon-highlighter:before {content: "V";}
.auxicon-hot-dog:before {content: "W";}
.auxicon-ice-cream:before {content: "X";}
.auxicon-ipod:before {content: "Y";}
.auxicon-key:before {content: "Z";}
.auxicon-keyboard:before {content: "0";}
.auxicon-knife:before {content: "1";}
.auxicon-lock-round:before {content: "2";}
.auxicon-lock-square:before {content: "3";}
.auxicon-mouse:before {content: "4";}
.auxicon-musical-note-1:before {content: "5";}
.auxicon-musical-note-2:before {content: "6";}
.auxicon-paper:before {content: "7";}
.auxicon-pause:before {content: "8";}
.auxicon-pause-round:before {content: "9";}
.auxicon-pen:before {content: "!";}
.auxicon-pencil:before {content: "\"";}
.auxicon-platter:before {content: "#";}
.auxicon-play:before {content: "$";}
.auxicon-play-round:before {content: "%";}
.auxicon-popsicle:before {content: "&";}
.auxicon-pound:before {content: "\'";}
.auxicon-pound-coin:before {content: "(";}
.auxicon-present-1:before {content: ")";}
.auxicon-present-2:before {content: "*";}
.auxicon-radio:before {content: "+";}
.auxicon-random:before {content: ",";}
.auxicon-repeat-1:before {content: "-";}
.auxicon-repeat-2:before {content: ".";}
.auxicon-ring:before {content: "/";}
.auxicon-ruler:before {content: ":";}
.auxicon-settings-2:before {content: "<";}
.auxicon-settings-3:before {content: "=";}
.auxicon-shirt-1:before {content: ">";}
.auxicon-shirt-2:before {content: "?";}
.auxicon-shopping-bag-1:before {content: "@";}
.auxicon-shopping-bag-2:before {content: "[";}
.auxicon-shopping-bag-3:before {content: "]";}
.auxicon-shopping-bag-4:before {content: "^";}
.auxicon-shopping-cart-1:before {content: "_";}
.auxicon-shopping-cart-1-1:before {content: "`";}
.auxicon-shopping-cart-out:before {content: "{";}
.auxicon-shopping-cart-x:before {content: "|";}
.auxicon-shpping-cart-in:before {content: "}";}
.auxicon-slider:before {content: "~";}
.auxicon-soup:before {content: "\\";}
.auxicon-spray:before {content: "";}
.auxicon-store:before {content: "";}
.auxicon-sunglasses-1:before {content: "";}
.auxicon-sunglasses-2:before {content: "";}
.auxicon-tag-1:before {content: "";}
.auxicon-tag-2:before {content: "";}
.auxicon-tie:before {content: "";}
.auxicon-truck-1:before {content: "";}
.auxicon-truck-2:before {content: "";}
.auxicon-upload:before {content: "";}
.auxicon-user:before {content: "";}
.auxicon-user-round:before {content: "";}
.auxicon-user-v:before {content: "";}
.auxicon-user-x:before {content: "";}
.auxicon-vinyl:before {content: "";}
.auxicon-wallet:before {content: "";}
.auxicon-wallet-empty:before {content: "";}
.auxicon-watch:before {content: "";}
.auxicon-wrench-1:before {content: "";}
.auxicon-wrench-2:before {content: "";}
.auxicon-alarm-clock:before {content: "";}
.auxicon-badge:before {content: "";}
.auxicon-bank:before {content: "";}
.auxicon-bell:before {content: "";}
.auxicon-brush:before {content: "";}
.auxicon-calendar:before {content: "";}
.auxicon-camera-back:before {content: "";}
.auxicon-camera-front:before {content: "";}
.auxicon-clipboard:before {content: "";}
.auxicon-cloud-1:before {content: "";}
.auxicon-credit-card:before {content: "";}
.auxicon-dashboard:before {content: "";}
.auxicon-explore:before {content: "";}
.auxicon-file:before {content: "";}
.auxicon-folder-1:before {content: "";}
.auxicon-handbag:before {content: "";}
.auxicon-heart:before {content: "";}
.auxicon-home:before {content: "";}
.auxicon-id-horizontal:before {content: "";}
.auxicon-id-vertical:before {content: "";}
.auxicon-location-pin:before {content: "";}
.auxicon-mac:before {content: "";}
.auxicon-music:before {content: "";}
.auxicon-music-playlist:before {content: "";}
.auxicon-news:before {content: "";}
.auxicon-office:before {content: "";}
.auxicon-pen-1:before {content: "";}
.auxicon-pencil-1:before {content: "";}
.auxicon-phone:before {content: "";}
.auxicon-photos:before {content: "";}
.auxicon-pictures-day:before {content: "";}
.auxicon-pictures-night:before {content: "";}
.auxicon-settings:before {content: "";}
.auxicon-share-10:before {content: "";}
.auxicon-shop:before {content: "";}
.auxicon-stopwatch:before {content: "";}
.auxicon-tablet:before {content: "";}
.auxicon-tag:before {content: "";}
.auxicon-tags:before {content: "";}
.auxicon-thumbs-down:before {content: "";}
.auxicon-thumbs-up:before {content: "";}
.auxicon-trophy:before {content: "";}
.auxicon-tv:before {content: "";}
.auxicon-user-1:before {content: "";}
.auxicon-videos:before {content: "";}
.auxicon-wallet-1:before {content: "";}
.auxicon-watch-1:before {content: "";}
.auxicon-addons:before {content: "";}
.auxicon-arrow:before {content: "";}
.auxicon-attachment:before {content: "";}
.auxicon-award:before {content: "";}
.auxicon-book:before {content: "";}
.auxicon-calendar-1:before {content: "";}
.auxicon-card:before {content: "";}
.auxicon-check:before {content: "";}
.auxicon-coffee:before {content: "";}
.auxicon-compass:before {content: "";}
.auxicon-connection:before {content: "";}
.auxicon-crown:before {content: "";}
.auxicon-dashboard-1:before {content: "";}
.auxicon-direction:before {content: "";}
.auxicon-download-1:before {content: "";}
.auxicon-download-data:before {content: "";}
.auxicon-drop:before {content: "";}
.auxicon-expand:before {content: "";}
.auxicon-featured:before {content: "";}
.auxicon-flag:before {content: "";}
.auxicon-folder-2:before {content: "";}
.auxicon-food-1:before {content: "";}
.auxicon-food-2:before {content: "";}
.auxicon-gift:before {content: "";}
.auxicon-glasses:before {content: "";}
.auxicon-grid:before {content: "";}
.auxicon-home-1:before {content: "";}
.auxicon-hot:before {content: "";}
.auxicon-ice-cream-1:before {content: "";}
.auxicon-idea:before {content: "";}
.auxicon-info:before {content: "";}
.auxicon-label:before {content: "";}
.auxicon-like-2-1:before {content: "";}
.auxicon-link:before {content: "";}
.auxicon-list:before {content: "";}
.auxicon-loading:before {content: "";}
.auxicon-login:before {content: "";}
.auxicon-mail:before {content: "";}
.auxicon-map:before {content: "";}
.auxicon-map-1:before {content: "";}
.auxicon-map-2:before {content: "";}
.auxicon-mark:before {content: "";}
.auxicon-media:before {content: "";}
.auxicon-menu:before {content: "";}
.auxicon-message:before {content: "";}
.auxicon-money:before {content: "";}
.auxicon-music-1:before {content: "";}
.auxicon-notification-1:before {content: "";}
.auxicon-notification-2:before {content: "";}
.auxicon-packet:before {content: "";}
.auxicon-pause-1:before {content: "";}
.auxicon-pen-2:before {content: "";}
.auxicon-phone-1:before {content: "";}
.auxicon-photo:before {content: "";}
.auxicon-play-1:before {content: "";}
.auxicon-portfolio:before {content: "";}
.auxicon-profile-1:before {content: "";}
.auxicon-profile-2:before {content: "";}
.auxicon-profile-3:before {content: "";}
.auxicon-profile-4:before {content: "";}
.auxicon-repair:before {content: "";}
.auxicon-repost:before {content: "";}
.auxicon-resend:before {content: "";}
.auxicon-rocket:before {content: "";}
.auxicon-save:before {content: "";}
.auxicon-search:before {content: "";}
.auxicon-settings-4:before {content: "";}
.auxicon-share-1:before {content: "";}
.auxicon-share-2:before {content: "";}
.auxicon-shop-1:before {content: "";}
.auxicon-sorting:before {content: "";}
.auxicon-sound:before {content: "";}
.auxicon-star-rate:before {content: "";}
.auxicon-stats-1:before {content: "";}
.auxicon-stats-2:before {content: "";}
.auxicon-stats-3:before {content: "";}
.auxicon-stop:before {content: "";}
.auxicon-tablet-1:before {content: "";}
.auxicon-tablet-mini:before {content: "";}
.auxicon-time:before {content: "";}
.auxicon-top:before {content: "";}
.auxicon-trash:before {content: "";}
.auxicon-treasure:before {content: "";}
.auxicon-view:before {content: "";}
.auxicon-vote:before {content: "";}
.auxicon-wallet-2:before {content: "";}
.auxicon-weather:before {content: "";}
.auxicon-wireframe:before {content: "";}
.auxicon-add:before {content: "";}
.auxicon-alarm:before {content: "";}
.auxicon-anchor:before {content: "";}
.auxicon-attachment-1:before {content: "";}
.auxicon-brightness:before {content: "";}
.auxicon-brightness-half:before {content: "";}
.auxicon-browser:before {content: "";}
.auxicon-calculator-2:before {content: "";}
.auxicon-calendar-2:before {content: "";}
.auxicon-camera:before {content: "";}
.auxicon-chat:before {content: "";}
.auxicon-circle-full:before {content: "";}
.auxicon-circle-half:before {content: "";}
.auxicon-clipboard-1:before {content: "";}
.auxicon-clock:before {content: "";}
.auxicon-close:before {content: "";}
.auxicon-cloud-2:before {content: "";}
.auxicon-cmd:before {content: "";}
.auxicon-comments:before {content: "";}
.auxicon-compose:before {content: "";}
.auxicon-delicious-1:before {content: "";}
.auxicon-dribbble-1:before {content: "";}
.auxicon-envelope:before {content: "";}
.auxicon-exclamation:before {content: "";}
.auxicon-expand-1:before {content: "";}
.auxicon-feather:before {content: "";}
.auxicon-forbid:before {content: "";}
.auxicon-forbid-1:before {content: "";}
.auxicon-fork-and-knife:before {content: "";}
.auxicon-fork-and-spoon:before {content: "";}
.auxicon-forward-1:before {content: "";}
.auxicon-gallary:before {content: "";}
.auxicon-globe:before {content: "";}
.auxicon-googleplus-1:before {content: "";}
.auxicon-grid-1:before {content: "";}
.auxicon-grid-alt:before {content: "";}
.auxicon-heart-1:before {content: "";}
.auxicon-home-2:before {content: "";}
.auxicon-hyperlink:before {content: "";}
.auxicon-in:before {content: "";}
.auxicon-in-alt:before {content: "";}
.auxicon-inbox:before {content: "";}
.auxicon-inbox-alt:before {content: "";}
.auxicon-ipad:before {content: "";}
.auxicon-iphone:before {content: "";}
.auxicon-light-bulb:before {content: "";}
.auxicon-list-1:before {content: "";}
.auxicon-maximize:before {content: "";}
.auxicon-menu-1:before {content: "";}
.auxicon-moon:before {content: "";}
.auxicon-newspaper:before {content: "";}
.auxicon-newspaper-alt:before {content: "";}
.auxicon-out:before {content: "";}
.auxicon-pause-2:before {content: "";}
.auxicon-pin:before {content: "";}
.auxicon-pin-alt:before {content: "";}
.auxicon-play-2:before {content: "";}
.auxicon-portfolio-1:before {content: "";}
.auxicon-question:before {content: "";}
.auxicon-rewind:before {content: "";}
.auxicon-screen:before {content: "";}
.auxicon-settings-5:before {content: "";}
.auxicon-sound-1:before {content: "";}
.auxicon-sound-alt:before {content: "";}
.auxicon-sound-off:before {content: "";}
.auxicon-spinner:before {content: "";}
.auxicon-stop-1:before {content: "";}
.auxicon-store-1:before {content: "";}
.auxicon-subtract:before {content: "";}
.auxicon-task:before {content: "";}
.auxicon-trash-1:before {content: "";}
.auxicon-trash-alt:before {content: "";}
.auxicon-user-2:before {content: "";}
.auxicon-users:before {content: "";}
.auxicon-windows-1-1:before {content: "";}
.auxicon-zoom-in:before {content: "";}
.auxicon-zoom-out:before {content: "";}
.auxicon-alert:before {content: "";}
.auxicon-alignment-align:before {content: "";}
.auxicon-alignment-aligned-to:before {content: "";}
.auxicon-alignment-unalign:before {content: "";}
.auxicon-arrow-down:before {content: "";}
.auxicon-arrow-left:before {content: "";}
.auxicon-arrow-right:before {content: "";}
.auxicon-arrow-small-down:before {content: "";}
.auxicon-arrow-small-left:before {content: "";}
.auxicon-arrow-small-right:before {content: "";}
.auxicon-arrow-small-up:before {content: "";}
.auxicon-arrow-up:before {content: "";}
.auxicon-beer:before {content: "";}
.auxicon-book-1:before {content: "";}
.auxicon-bookmark:before {content: "";}
.auxicon-briefcase:before {content: "";}
.auxicon-broadcast:before {content: "";}
.auxicon-browser-1:before {content: "";}
.auxicon-bug:before {content: "";}
.auxicon-calendar-3:before {content: "";}
.auxicon-check-1:before {content: "";}
.auxicon-checklist:before {content: "";}
.auxicon-chevron-down:before {content: "";}
.auxicon-chevron-left:before {content: "";}
.auxicon-chevron-right:before {content: "";}
.auxicon-chevron-up:before {content: "";}
.auxicon-circle-slash:before {content: "";}
.auxicon-circuit-board:before {content: "";}
.auxicon-clippy:before {content: "";}
.auxicon-clock-1:before {content: "";}
.auxicon-cloud-download:before {content: "";}
.auxicon-cloud-upload:before {content: "";}
.auxicon-code:before {content: "";}
.auxicon-color-mode:before {content: "";}
.auxicon-comment-2-1:before {content: "";}
.auxicon-comment-discussion:before {content: "";}
.auxicon-credit-card-5:before {content: "";}
.auxicon-dash:before {content: "";}
.auxicon-dashboard-2:before {content: "";}
.auxicon-database:before {content: "";}
.auxicon-device-camera:before {content: "";}
.auxicon-device-camera-video:before {content: "";}
.auxicon-device-desktop:before {content: "";}
.auxicon-device-mobile:before {content: "";}
.auxicon-diff:before {content: "";}
.auxicon-diff-added:before {content: "";}
.auxicon-diff-ignored:before {content: "";}
.auxicon-diff-modified:before {content: "";}
.auxicon-diff-removed:before {content: "";}
.auxicon-diff-renamed:before {content: "";}
.auxicon-ellipsis:before {content: "";}
.auxicon-eye:before {content: "";}
.auxicon-file-binary:before {content: "";}
.auxicon-file-code:before {content: "";}
.auxicon-file-directory:before {content: "";}
.auxicon-file-media:before {content: "";}
.auxicon-file-pdf:before {content: "";}
.auxicon-file-submodule:before {content: "";}
.auxicon-file-symlink-directory:before {content: "";}
.auxicon-file-symlink-file:before {content: "";}
.auxicon-file-text:before {content: "";}
.auxicon-file-zip:before {content: "";}
.auxicon-flame:before {content: "";}
.auxicon-fold:before {content: "";}
.auxicon-gear:before {content: "";}
.auxicon-gift-1:before {content: "";}
.auxicon-gist:before {content: "";}
.auxicon-gist-secret:before {content: "";}
.auxicon-git-branch:before {content: "";}
.auxicon-git-commit:before {content: "";}
.auxicon-git-compare:before {content: "";}
.auxicon-git-merge:before {content: "";}
.auxicon-git-pull-request:before {content: "";}
.auxicon-globe-1:before {content: "";}
.auxicon-graph:before {content: "";}
.auxicon-heart-2:before {content: "";}
.auxicon-history:before {content: "";}
.auxicon-home-3:before {content: "";}
.auxicon-horizontal-rule:before {content: "";}
.auxicon-hourglass:before {content: "";}
.auxicon-hubot:before {content: "";}
.auxicon-inbox-1:before {content: "";}
.auxicon-info-1:before {content: "";}
.auxicon-issue-closed:before {content: "";}
.auxicon-issue-opened:before {content: "";}
.auxicon-issue-reopened:before {content: "";}
.auxicon-jersey:before {content: "";}
.auxicon-jump-down:before {content: "";}
.auxicon-jump-left:before {content: "";}
.auxicon-jump-right:before {content: "";}
.auxicon-jump-up:before {content: "";}
.auxicon-key-1:before {content: "";}
.auxicon-keyboard-1:before {content: "";}
.auxicon-law:before {content: "";}
.auxicon-light-bulb-1:before {content: "";}
.auxicon-link-1:before {content: "";}
.auxicon-link-external:before {content: "";}
.auxicon-list-ordered:before {content: "";}
.auxicon-list-unordered:before {content: "";}
.auxicon-location:before {content: "";}
.auxicon-lock:before {content: "";}
.auxicon-logo-github:before {content: "";}
.auxicon-mail-1:before {content: "";}
.auxicon-mail-read:before {content: "";}
.auxicon-mail-reply:before {content: "";}
.auxicon-mark-github:before {content: "";}
.auxicon-markdown:before {content: "";}
.auxicon-megaphone:before {content: "";}
.auxicon-mention:before {content: "";}
.auxicon-microscope:before {content: "";}
.auxicon-milestone:before {content: "";}
.auxicon-mirror:before {content: "";}
.auxicon-mortar-board:before {content: "";}
.auxicon-move-down:before {content: "";}
.auxicon-move-left:before {content: "";}
.auxicon-move-right:before {content: "";}
.auxicon-move-up:before {content: "";}
.auxicon-mute:before {content: "";}
.auxicon-no-newline:before {content: "";}
.auxicon-octoface:before {content: "";}
.auxicon-organization:before {content: "";}
.auxicon-package:before {content: "";}
.auxicon-paintcan:before {content: "";}
.auxicon-pencil-2:before {content: "";}
.auxicon-person:before {content: "";}
.auxicon-pin-1:before {content: "";}
.auxicon-playback-fast-forward:before {content: "";}
.auxicon-playback-pause:before {content: "";}
.auxicon-playback-rewind:before {content: "";}
.auxicon-plug:before {content: "";}
.auxicon-plus:before {content: "";}
.auxicon-podium:before {content: "";}
.auxicon-primitive-dot:before {content: "";}
.auxicon-primitive-square:before {content: "";}
.auxicon-pulse:before {content: "";}
.auxicon-puzzle:before {content: "";}
.auxicon-question-1:before {content: "";}
.auxicon-quote:before {content: "";}
.auxicon-radio-tower:before {content: "";}
.auxicon-repo:before {content: "";}
.auxicon-repo-clone:before {content: "";}
.auxicon-repo-force-push:before {content: "";}
.auxicon-repo-forked:before {content: "";}
.auxicon-repo-pull:before {content: "";}
.auxicon-repo-push:before {content: "";}
.auxicon-rocket-1:before {content: "";}
.auxicon-rss-1:before {content: "";}
.auxicon-ruby:before {content: "";}
.auxicon-screen-full:before {content: "";}
.auxicon-screen-normal:before {content: "";}
.auxicon-search-2:before {content: "";}
.auxicon-server:before {content: "";}
.auxicon-settings-6:before {content: "";}
.auxicon-sign-in:before {content: "";}
.auxicon-sign-out:before {content: "";}
.auxicon-split:before {content: "";}
.auxicon-squirrel:before {content: "";}
.auxicon-star:before {content: "";}
.auxicon-steps:before {content: "";}
.auxicon-stop-2:before {content: "";}
.auxicon-sync:before {content: "";}
.auxicon-tag-3:before {content: "";}
.auxicon-telescope:before {content: "";}
.auxicon-terminal:before {content: "";}
.auxicon-three-bars:before {content: "";}
.auxicon-tools:before {content: "";}
.auxicon-trashcan:before {content: "";}
.auxicon-triangle-down:before {content: "";}
.auxicon-triangle-left:before {content: "";}
.auxicon-triangle-right:before {content: "";}
.auxicon-triangle-up:before {content: "";}
.auxicon-unfold:before {content: "";}
.auxicon-unmute:before {content: "";}
.auxicon-versions:before {content: "";}
.auxicon-x:before {content: "";}
.auxicon-zap:before {content: "";}
.auxicon-armchair-chair-streamline:before {content: "";}
.auxicon-arrow-streamline-target:before {content: "";}
.auxicon-backpack-streamline-trekking:before {content: "";}
.auxicon-bag-shopping-streamline:before {content: "";}
.auxicon-barbecue-eat-food-streamline:before {content: "";}
.auxicon-barista-coffee-espresso-streamline:before {content: "";}
.auxicon-bomb-bug:before {content: "";}
.auxicon-book-dowload-streamline:before {content: "";}
.auxicon-book-read-streamline:before {content: "";}
.auxicon-browser-streamline-window:before {content: "";}
.auxicon-brush-paint-streamline:before {content: "";}
.auxicon-bubble-comment-streamline-talk:before {content: "";}
.auxicon-bubble-love-streamline-talk:before {content: "";}
.auxicon-caddie-shop-shopping-streamline:before {content: "";}
.auxicon-caddie-shopping-streamline:before {content: "";}
.auxicon-camera-photo-polaroid-streamline:before {content: "";}
.auxicon-camera-photo-streamline:before {content: "";}
.auxicon-camera-streamline-video:before {content: "";}
.auxicon-chaplin-hat-movie-streamline:before {content: "";}
.auxicon-chef-food-restaurant-streamline:before {content: "";}
.auxicon-clock-streamline-time:before {content: "";}
.auxicon-cocktail-mojito-streamline:before {content: "";}
.auxicon-coffee-streamline:before {content: "";}
.auxicon-computer-imac:before {content: "";}
.auxicon-computer-macintosh-vintage:before {content: "";}
.auxicon-computer-network-streamline:before {content: "";}
.auxicon-computer-streamline:before {content: "";}
.auxicon-cook-pan-pot-streamline:before {content: "";}
.auxicon-crop-streamline:before {content: "";}
.auxicon-crown-king-streamline:before {content: "";}
.auxicon-danger-death-delete-destroy-skull-stream:before {content: "";}
.auxicon-dashboard-speed-streamline:before {content: "";}
.auxicon-database-streamline:before {content: "";}
.auxicon-delete-garbage-streamline:before {content: "";}
.auxicon-design-graphic-tablet-streamline-tablet:before {content: "";}
.auxicon-design-pencil-rule-streamline:before {content: "";}
.auxicon-diving-leisure-sea-sport-streamline:before {content: "";}
.auxicon-drug-medecine-streamline-syringue:before {content: "";}
.auxicon-earth-globe-streamline:before {content: "";}
.auxicon-eat-food-fork-knife-streamline:before {content: "";}
.auxicon-eat-food-hotdog-streamline:before {content: "";}
.auxicon-email-mail-streamline:before {content: "";}
.auxicon-eye-dropper-streamline:before {content: "";}
.auxicon-factory-lift-streamline-warehouse:before {content: "";}
.auxicon-first-aid-medecine-shield-streamline:before {content: "";}
.auxicon-food-ice-cream-streamline:before {content: "";}
.auxicon-frame-picture-streamline:before {content: "";}
.auxicon-handle-streamline-vector:before {content: "";}
.auxicon-happy-smiley-streamline:before {content: "";}
.auxicon-headset-sound-streamline:before {content: "";}
.auxicon-home-house-streamline:before {content: "";}
.auxicon-ibook-laptop:before {content: "";}
.auxicon-ink-pen-streamline:before {content: "";}
.auxicon-ipad-streamline:before {content: "";}
.auxicon-iphone-streamline:before {content: "";}
.auxicon-ipod-mini-music-streamline:before {content: "";}
.auxicon-ipod-music-streamline:before {content: "";}
.auxicon-ipod-streamline:before {content: "";}
.auxicon-japan-streamline-tea:before {content: "";}
.auxicon-laptop-macbook-streamline:before {content: "";}
.auxicon-like-love-streamline:before {content: "";}
.auxicon-link-streamline:before {content: "";}
.auxicon-lock-locker-streamline:before {content: "";}
.auxicon-locker-streamline-unlock:before {content: "";}
.auxicon-macintosh:before {content: "";}
.auxicon-magic-magic-wand-streamline:before {content: "";}
.auxicon-magnet-streamline:before {content: "";}
.auxicon-man-people-streamline-user:before {content: "";}
.auxicon-map-streamline-user:before {content: "";}
.auxicon-micro-record-streamline:before {content: "";}
.auxicon-monocle-mustache-streamline:before {content: "";}
.auxicon-music-note-streamline:before {content: "";}
.auxicon-music-speaker-streamline:before {content: "";}
.auxicon-notebook-streamline:before {content: "";}
.auxicon-paint-bucket-streamline:before {content: "";}
.auxicon-painting-pallet-streamline:before {content: "";}
.auxicon-painting-roll-streamline:before {content: "";}
.auxicon-pen-streamline:before {content: "";}
.auxicon-pen-streamline-1:before {content: "";}
.auxicon-pen-streamline-2:before {content: "";}
.auxicon-pen-streamline-3:before {content: "";}
.auxicon-photo-pictures-streamline:before {content: "";}
.auxicon-picture-streamline:before {content: "";}
.auxicon-picture-streamline-1:before {content: "";}
.auxicon-receipt-shopping-streamline:before {content: "";}
.auxicon-remote-control-streamline:before {content: "";}
.auxicon-settings-streamline:before {content: "";}
.auxicon-settings-streamline-1:before {content: "";}
.auxicon-settings-streamline-2:before {content: "";}
.auxicon-shoes-snickers-streamline:before {content: "";}
.auxicon-speech-streamline-talk-user:before {content: "";}
.auxicon-stamp-streamline:before {content: "";}
.auxicon-streamline-suitcase-travel:before {content: "";}
.auxicon-streamline-sync:before {content: "";}
.auxicon-streamline-umbrella-weather:before {content: "";}
.auxicon-align-center:before {content: "";}
.auxicon-align-justify:before {content: "";}
.auxicon-align-left:before {content: "";}
.auxicon-align-right:before {content: "";}
.auxicon-archive-1:before {content: "";}
.auxicon-arrow-down-3:before {content: "";}
.auxicon-arrow-left-3:before {content: "";}
.auxicon-arrow-right-3:before {content: "";}
.auxicon-arrow-up-3:before {content: "";}
.auxicon-atom:before {content: "";}
.auxicon-bank-notes:before {content: "";}
.auxicon-barbell:before {content: "";}
.auxicon-bars:before {content: "";}
.auxicon-battery-0:before {content: "";}
.auxicon-battery-1-1:before {content: "";}
.auxicon-battery-2-1:before {content: "";}
.auxicon-battery-3-1:before {content: "";}
.auxicon-battery-4-1:before {content: "";}
.auxicon-battery-power:before {content: "";}
.auxicon-beer-2:before {content: "";}
.auxicon-bolt:before {content: "";}
.auxicon-bones:before {content: "";}
.auxicon-book-close:before {content: "";}
.auxicon-book-open:before {content: "";}
.auxicon-bookmark-4:before {content: "";}
.auxicon-box-3:before {content: "";}
.auxicon-browser-2:before {content: "";}
.auxicon-bubble:before {content: "";}
.auxicon-bubble-1:before {content: "";}
.auxicon-bubble-2:before {content: "";}
.auxicon-bubble-3:before {content: "";}
.auxicon-bucket:before {content: "";}
.auxicon-calculator-3:before {content: "";}
.auxicon-calendar-6:before {content: "";}
.auxicon-camera-4:before {content: "";}
.auxicon-cardiac-pulse:before {content: "";}
.auxicon-cd-1:before {content: "";}
.auxicon-character:before {content: "";}
.auxicon-checkbox-checked:before {content: "";}
.auxicon-checkmark:before {content: "";}
.auxicon-clipboard-3:before {content: "";}
.auxicon-clock-4:before {content: "";}
.auxicon-cloud-5:before {content: "";}
.auxicon-coffee-1:before {content: "";}
.auxicon-comment-2:before {content: "";}
.auxicon-connection-0:before {content: "";}
.auxicon-connection-1:before {content: "";}
.auxicon-connection-2:before {content: "";}
.auxicon-connection-3:before {content: "";}
.auxicon-connection-4:before {content: "";}
.auxicon-credit-cards:before {content: "";}
.auxicon-crop:before {content: "";}
.auxicon-cube:before {content: "";}
.auxicon-diamond-1:before {content: "";}
.auxicon-download-5:before {content: "";}
.auxicon-email:before {content: "";}
.auxicon-email-plane:before {content: "";}
.auxicon-enter:before {content: "";}
.auxicon-envelope-1:before {content: "";}
.auxicon-eyedropper:before {content: "";}
.auxicon-file-1:before {content: "";}
.auxicon-file-add:before {content: "";}
.auxicon-file-broken:before {content: "";}
.auxicon-file-settings:before {content: "";}
.auxicon-files:before {content: "";}
.auxicon-flag-3:before {content: "";}
.auxicon-folder-3:before {content: "";}
.auxicon-folder-add:before {content: "";}
.auxicon-folder-check:before {content: "";}
.auxicon-folder-settings:before {content: "";}
.auxicon-forbidden:before {content: "";}
.auxicon-frames:before {content: "";}
.auxicon-glass:before {content: "";}
.auxicon-graph-1:before {content: "";}
.auxicon-grid-3:before {content: "";}
.auxicon-heart-4:before {content: "";}
.auxicon-home-6:before {content: "";}
.auxicon-id-card:before {content: "";}
.auxicon-invoice:before {content: "";}
.auxicon-ipad-1:before {content: "";}
.auxicon-ipad-2:before {content: "";}
.auxicon-lab:before {content: "";}
.auxicon-laptop-1:before {content: "";}
.auxicon-list-3:before {content: "";}
.auxicon-lock-2:before {content: "";}
.auxicon-locked:before {content: "";}
.auxicon-map-4:before {content: "";}
.auxicon-measure:before {content: "";}
.auxicon-meter:before {content: "";}
.auxicon-micro:before {content: "";}
.auxicon-micro-mute:before {content: "";}
.auxicon-microwave:before {content: "";}
.auxicon-minus-4:before {content: "";}
.auxicon-modem:before {content: "";}
.auxicon-mute-1:before {content: "";}
.auxicon-newspaper-1:before {content: "";}
.auxicon-paperclip:before {content: "";}
.auxicon-pencil-3:before {content: "";}
.auxicon-phone-2:before {content: "";}
.auxicon-phone-5:before {content: "";}
.auxicon-phone-3:before {content: "";}
.auxicon-picture:before {content: "";}
.auxicon-pie-chart:before {content: "";}
.auxicon-pill:before {content: "";}
.auxicon-pin-4:before {content: "";}
.auxicon-printer-1:before {content: "";}
.auxicon-printer-2:before {content: "";}
.auxicon-refresh-3:before {content: "";}
.auxicon-reload-1:before {content: "";}
.auxicon-screen-3:before {content: "";}
.auxicon-select:before {content: "";}
.auxicon-set:before {content: "";}
.auxicon-settings-8:before {content: "";}
.auxicon-share-4:before {content: "";}
.auxicon-share-outline:before {content: "";}
.auxicon-shorts:before {content: "";}
.auxicon-speaker-1:before {content: "";}
.auxicon-star-4:before {content: "";}
.auxicon-stopwatch-3:before {content: "";}
.auxicon-sun:before {content: "";}
.auxicon-syringe:before {content: "";}
.auxicon-tag-5:before {content: "";}
.auxicon-train:before {content: "";}
.auxicon-trash-3:before {content: "";}
.auxicon-unlocked:before {content: "";}
.auxicon-user-4:before {content: "";}
.auxicon-user-outline:before {content: "";}
.auxicon-users-1:before {content: "";}
.auxicon-users-outline:before {content: "";}
.auxicon-volume:before {content: "";}
.auxicon-volume-down:before {content: "";}
.auxicon-volume-up:before {content: "";}
.auxicon-wifi-1:before {content: "";}
.auxicon-wifi-2:before {content: "";}
.auxicon-wifi-3:before {content: "";}
.auxicon-window-delete:before {content: "";}
.auxicon-windows-2:before {content: "";}
.auxicon-zoom:before {content: "";}
.auxicon-zoom-in-2:before {content: "";}
.auxicon-zoom-out-2:before {content: "";}
.auxicon-banknote:before {content: "";}
.auxicon-bubble-4:before {content: "";}
.auxicon-bulb:before {content: "";}
.auxicon-calendar-7:before {content: "";}
.auxicon-camera-5:before {content: "";}
.auxicon-clip:before {content: "";}
.auxicon-clock-5:before {content: "";}
.auxicon-cloud-6:before {content: "";}
.auxicon-cup:before {content: "";}
.auxicon-data-1:before {content: "";}
.auxicon-diamond-2:before {content: "";}
.auxicon-display:before {content: "";}
.auxicon-eye-1:before {content: "";}
.auxicon-fire:before {content: "";}
.auxicon-food:before {content: "";}
.auxicon-heart-5:before {content: "";}
.auxicon-key-3:before {content: "";}
.auxicon-lab-1:before {content: "";}
.auxicon-like-1:before {content: "";}
.auxicon-location-2:before {content: "";}
.auxicon-lock-3:before {content: "";}
.auxicon-mail-3:before {content: "";}
.auxicon-megaphone-1:before {content: "";}
.auxicon-music-3:before {content: "";}
.auxicon-news-2:before {content: "";}
.auxicon-note:before {content: "";}
.auxicon-paperplane:before {content: "";}
.auxicon-params:before {content: "";}
.auxicon-pen-3:before {content: "";}
.auxicon-phone-4:before {content: "";}
.auxicon-photo-1:before {content: "";}
.auxicon-search-5:before {content: "";}
.auxicon-settings-9:before {content: "";}
.auxicon-shop-2:before {content: "";}
.auxicon-sound-2:before {content: "";}
.auxicon-stack:before {content: "";}
.auxicon-star-5:before {content: "";}
.auxicon-study:before {content: "";}
.auxicon-t-shirt:before {content: "";}
.auxicon-tag-6:before {content: "";}
.auxicon-trash-4:before {content: "";}
.auxicon-truck-3:before {content: "";}
.auxicon-tv-1:before {content: "";}
.auxicon-user-5:before {content: "";}
.auxicon-vallet:before {content: "";}
.auxicon-video-1:before {content: "";}
.auxicon-vynil:before {content: "";}
.auxicon-world:before {content: "";}
.auxicon-bag-2:before {content: "";}
.auxicon-bicycle-1:before {content: "";}
.auxicon-bicycle-vintage:before {content: "";}
.auxicon-browser-empty:before {content: "";}
.auxicon-browser-full:before {content: "";}
.auxicon-bubble-1-1:before {content: "";}
.auxicon-bubble-2-1:before {content: "";}
.auxicon-bubble-3-1:before {content: "";}
.auxicon-camera-6:before {content: "";}
.auxicon-clap-board:before {content: "";}
.auxicon-clipboard-4:before {content: "";}
.auxicon-clock-6:before {content: "";}
.auxicon-cloud-7:before {content: "";}
.auxicon-cloudy:before {content: "";}
.auxicon-envelope-2:before {content: "";}
.auxicon-file-ai:before {content: "";}
.auxicon-file-jpg:before {content: "";}
.auxicon-file-png:before {content: "";}
.auxicon-file-psd:before {content: "";}
.auxicon-file-text-1:before {content: "";}
.auxicon-graph-2:before {content: "";}
.auxicon-heart-6:before {content: "";}
.auxicon-hierarchy-1:before {content: "";}
.auxicon-hierarchy-2:before {content: "";}
.auxicon-imac:before {content: "";}
.auxicon-ipad-3:before {content: "";}
.auxicon-iphone-1:before {content: "";}
.auxicon-keyboard-3:before {content: "";}
.auxicon-laptop-2:before {content: "";}
.auxicon-line:before {content: "";}
.auxicon-list-4:before {content: "";}
.auxicon-list-thumbnails:before {content: "";}
.auxicon-lock-4:before {content: "";}
.auxicon-magnifier:before {content: "";}
.auxicon-map-5:before {content: "";}
.auxicon-map-pin:before {content: "";}
.auxicon-moon-2:before {content: "";}
.auxicon-mouse-1:before {content: "";}
.auxicon-pencil-4:before {content: "";}
.auxicon-pencil-ruler:before {content: "";}
.auxicon-picture-1:before {content: "";}
.auxicon-rain:before {content: "";}
.auxicon-ribbon:before {content: "";}
.auxicon-shoe:before {content: "";}
.auxicon-speaker-2:before {content: "";}
.auxicon-speaker-off-1:before {content: "";}
.auxicon-sun-1:before {content: "";}
.auxicon-tape:before {content: "";}
.auxicon-target-1:before {content: "";}
.auxicon-unlock-1:before {content: "";}
.auxicon-facebook-3:before {content: "";}
.auxicon-notebook:before {content: "";}
.auxicon-edit-modify-streamline:before {content: "";}
.auxicon-download-2:before {content: "";}
.auxicon-linkedin:before {content: "";}
.auxicon-facebook:before {content: "";}
.auxicon-vimeo:before {content: "";}
.auxicon-flickr:before {content: "";}
.auxicon-instagram:before {content: "";}
.auxicon-tumblr:before {content: "";}
.auxicon-behance:before {content: "";}
.auxicon-wordpress:before {content: "";}
.auxicon-vimeo-1:before {content: "";}
.auxicon-git:before {content: "";}
.auxicon-googleplus:before {content: "";}
.auxicon-digg:before {content: "";}
.auxicon-google:before {content: "";}
.auxicon-stumbleupon:before {content: "";}
.auxicon-apple:before {content: "";}
.auxicon-microsoft:before {content: "";}
.auxicon-android:before {content: "";}
.auxicon-dribbble:before {content: "";}
.auxicon-steam:before {content: "";}
.auxicon-pinterest:before {content: "";}
.auxicon-edge:before {content: "";}
.auxicon-chrome:before {content: "";}
.auxicon-safari:before {content: "";}
.auxicon-firefox:before {content: "";}
.auxicon-opera:before {content: "";}
.auxicon-internet-explorer:before {content: "";}
.auxicon-wikipedia:before {content: "";}
.auxicon-amazon:before {content: "";}
.auxicon-lastfm:before {content: "";}
.auxicon-delicious:before {content: "";}
.auxicon-skype:before {content: "";}
.auxicon-rss:before {content: "";}
.auxicon-twitter:before {content: "";}
.auxicon-html5:before {content: "";}
.auxicon-css3:before {content: "";}
.auxicon-youtube:before {content: "";}
.auxicon-dropbox:before {content: "";}
.auxicon-twich:before {content: "";}
.auxicon-pocket:before {content: "";}
.auxicon-spotify:before {content: "";}
.auxicon-yahoo:before {content: "";}
.auxicon-paypal:before {content: "";}
.auxicon-visa:before {content: "";}
.auxicon-google-wallet:before {content: "";}
.auxicon-mastercard:before {content: "";}
.auxicon-soundcloud:before {content: "";}
.auxicon-linux:before {content: "";}
.auxicon-github:before {content: "";}
.auxicon-search-4:before {content: "";}
.auxicon-check-mark-circle-outline:before {content: "";}
.auxicon-question-circle:before {content: "";}
.auxicon-phone-classic-on:before {content: "";}
.auxicon-ios-browsers-outline:before {content: "";}
.auxicon-social-buffer:before {content: "";}
.auxicon-social-buffer-outline:before {content: "";}
.auxicon-search-1:before {content: "";}
.auxicon-comment:before {content: "";}
.auxicon-like:before {content: "";}
.auxicon-share:before {content: "";}
.auxicon-rate:before {content: "";}
.auxicon-rate-outline:before {content: "";}
.auxicon-whatsapp:before {content: "";}
.auxicon-stumbleupon-1:before {content: "";}
.auxicon-vk:before {content: "";}
.auxicon-telegram:before {content: "";}
.auxicon-telegram-2:before {content: "";}
.auxicon-fontawesome-webfont:before {content: "";}
.auxicon-bag:before {content: "";}
.auxicon-chevron-right-1:before {content: "";}
.auxicon-playback-play:before {content: "";}
.auxicon-lists:before {content: "";}
.auxicon-headset-with-microphone:before {content: "U";}
.auxicon-heart-small:before {content: "";}
.auxicon-heart-small-outline:before {content: "";}
.auxicon-settings-1:before {content: ";";}
.auxicon-power:before {content: "";}
.auxicon-instagram-1:before {content: "";}
.auxicon-computer-imac-2:before {content: "";}
.auxicon-grid-lines-streamline:before {content: "";}
.auxicon-chevron-left-1:before {content: "";}
.auxicon-chevron-down-1:before {content: "";}
.auxicon-chevron-up-1:before {content: "";}
.auxicon-ios-telephone-outline:before {content: "";}
.auxicon-ios-clock-outline:before {content: "";}
.auxicon-ios-person-outline:before {content: "";}
.auxicon-arrow-left-1:before {content: "";}
.auxicon-arrow-right-1:before {content: "";}
.auxicon-mail-letter-outline:before {content: "";}
.auxicon-search-outline:before {content: "";}
.auxicon-map-pin-streamline:before {content: "";}
.auxicon-android-favorite:before {content: "";}
.auxicon-android-favorite-outline:before {content: "";}