html, body {height: 100%;}
.av3_container select, .av3_container input, .av3_container textarea, .av3_container button {font: 99% sans-serif;}
.av3_container pre, .av3_container code, .av3_container kbd, .av3_container samp {font-family: monospace,sans-serif;}
.av3_container html {overflow-y: scroll;height: 100%;}
.av3_container a {text-decoration: none;}
.av3_container a:hover, .av3_container a:active, .av3_container a:focus {outline: none;}
.av3_container ul, .av3_container ol {margin-left: 0;}
.av3_container ol {list-style-type: decimal;}
.av3_container nav ul, .av3_container nav li {margin: 0;list-style: none;list-style-image: none;}
.av3_container small {font-size: 85%;}
.av3_container strong, .av3_container th {font-weight: bold;}
.av3_container td {vertical-align: top;}
.av3_container sub, .av3_container sup {font-size: 75%;line-height: 0;position: relative;}
.av3_container sup {top: -.5em;}
.av3_container sub {bottom: -.25em;}
.av3_container pre {white-space: pre;white-space: pre-wrap;word-wrap: break-word;padding: 15px;}
.av3_container textarea {overflow: auto;}
.av3_container .ie6 legend, .av3_container .ie7 legend {margin-left: -7px;}
.av3_container input[type="radio"] {vertical-align: text-bottom;}
.av3_container input[type="checkbox"] {vertical-align: bottom;}
.av3_container input[type=search] {-webkit-appearance: none;}
.av3_container input[type="search"]::-webkit-search-decoration, .av3_container input[type="search"]::-webkit-search-cancel-button {display: none;}
.av3_container .ie7 input[type="checkbox"] {vertical-align: baseline;}
.av3_container .ie6 input {vertical-align: text-bottom;}
.av3_container label, .av3_container input[type="button"], .av3_container input[type="submit"], .av3_container input[type="image"], .av3_container button {cursor: pointer;}
.av3_container button, .av3_container input, .av3_container select, .av3_container textarea {margin: 0;}
.av3_container input:invalid, .av3_container textarea:invalid {border-radius: 1px;box-shadow: 0px 0px 5px red;}
.av3_container .no-boxshadow input:invalid, .av3_container .no-boxshadow textarea:invalid {background-color: #f0dddd;}
.av3_container ::-moz-selection {background: #ff5e99;color: #fff;text-shadow: none;}
.av3_container a:link {-webkit-tap-highlight-color: #ff5e99;}
.av3_container button {width: auto;overflow: visible;}
.av3_container {max-width: 1000px;}
.av3_container, .av3_container select, .av3_container input, .av3_container textarea {color: #333;font-size: 1em;line-height: 1.4em;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%;}
.av3_container .ie7 img {-ms-interpolation-mode: bicubic;}
.av3_container .hidden {display: none !important;}
.av3_container .left {float: left;}
.av3_container .right {float: right;}
.av3_container .center {margin-left: auto;margin-right: auto;display: block;clear: both;}
.clear {clear: both;display: block;font-size: 0;height: 0;line-height: 0;width: 100%;}
.av3_container a {color: #505050;text-decoration: none;-webkit-transition: background-color 150ms linear,color 150ms linear;transition: background-color 150ms linear,color 150ms linear;}
.av3_container a:hover {background-color: #ffd62c;}
.av3_container a img {display: block;}
.av3_container h1, .av3_container h2, .av3_container h3, .av3_container h4, .av3_container h5, .av3_container h6 {line-height: 1.5em;}
.av3_container p {margin: 0 0 20px 0;text-align: justify;}
.av3_container hr {display: block;clear: both;height: 0;line-height: 0;border-color: #404040;border-bottom-width: 1px;border-bottom-style: solid;}
.av3_container hr.dotted {border-bottom-style: dotted;}
.av3_container hr.dashed {border-bottom-style: dashed;}
.av3_container hr.top {margin-top: 20px;}
.av3_container hr.bottom {margin-bottom: 20px;}
.av3_container hr.both {margin-bottom: 30px;margin-top: 30px;}
.av3_container pre {clear: both;line-height: 25px;padding: 0px 10px;}
.av3_container .sep {display: block;clear: both;height: 0;line-height: 0;margin-bottom: 20px;margin-top: 20px;border-width: 1px;border-style: solid;border-bottom: #444;border-top: #eee;}
.alert {color: #ad1515 !important;}
.imgHolder {display: block;position: relative;overflow: hidden;}
.imgHolder img {width: 100%;height: auto;display: block;}
.imgHolder a {background: none;display: block;}
.imgHolder div {position: absolute;display: block;width: 100%;height: 100%;}
.imgHolder span {position: absolute;opacity: 0;visibility: hidden;}
.imgHolder a:hover img {opacity: .3;}
.imgHolder a:hover span {opacity: 1;z-index: 99;visibility: visible;}
.imgHolder img, .imgHolder span {-webkit-transition: all 150ms linear;transition: all 150ms linear;}
.av3_container .frame, .imgHolder.frame {padding: 3px;border: 1px solid #c5c5c5;background-color: #fff;}
.av3_container ul, .av3_container ol {margin-bottom: 20px;}
.av3_container ul {list-style: none outside;}
.av3_container ol {list-style: decimal;}
.av3_container ol, .av3_container ul.square, .av3_container ul.circle, .av3_container ul.disc {margin-left: 30px;}
.av3_container ul.square {list-style: square outside;}
.av3_container ul.circle {list-style: circle outside;}
.av3_container ul.disc {list-style: disc outside;}
.av3_container ul ul, .av3_container ul ol, .av3_container ol ol, .av3_container ol ul {margin: 4px 0 5px 30px;margin: 0;font-size: 90%;padding: 0;}
.av3_container ul ul li, .av3_container ul ol li, .av3_container ol ol li, .av3_container ol ul li {margin-bottom: 6px;}
.av3_container li {line-height: 18px;margin-bottom: 12px;}
.av3_container ul.large li {line-height: 21px;}
.av3_container a.button, .av3_container button, .av3_container input[type="submit"], .av3_container input[type="reset"], .av3_container input[type="button"] {-webkit-transition: all 150ms linear 0s;transition: all 150ms linear 0s;text-shadow: 0 1px rgba(255,255,255,.1);border-radius: 2px;border-width: 1px;box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);color: #606060;background-color: #f5f5f5;cursor: pointer;display: inline-block;font-size: 90%;font-weight: 400;line-height: 100%;margin-bottom: 1em;padding: .55em 1.1em;}
.av3_container a.button.medium, .av3_container button.medium, .av3_container input[type="submit"].medium, .av3_container input[type="reset"].medium, .av3_container input[type="button"].medium, .av3_container a.button.medium:hover, .av3_container button.medium:hover, .av3_container input[type="submit"].medium:hover, .av3_container input[type="reset"].medium:hover, .av3_container input[type="button"].medium:hover, .av3_container a.button.medium:active, .av3_container button.medium:active, .av3_container input[type="submit"].medium:active, .av3_container input[type="reset"].medium:active, .av3_container input[type="button"].medium:active {padding: .55em 1.6em;font-size: 13px;}
.av3_container a.button.large, .av3_container button.large, .av3_container input[type="submit"].large, .av3_container input[type="reset"].large, .av3_container input[type="button"].large, .av3_container a.button.large:hover, .av3_container button.large:hover, .av3_container input[type="submit"].large:hover, .av3_container input[type="reset"].large:hover, .av3_container input[type="button"].large:hover, .av3_container a.button.large:active, .av3_container button.large:active, .av3_container input[type="submit"].large:active, .av3_container input[type="reset"].large:active, .av3_container input[type="button"].large:active {padding: .7em 1.8em;font-size: 17px;height: auto;}
.av3_container a.button:hover, .av3_container button:hover, .av3_container input[type="submit"]:hover, .av3_container input[type="reset"]:hover, .av3_container input[type="button"]:hover {background: #fafafa;border-color: #999;color: #222;}
.av3_container a.button:focus, .av3_container button:focus, .av3_container input[type="submit"]:focus, .av3_container input[type="reset"]:focus, .av3_container input[type="button"]:focus {outline: none;}
.av3_container a.button:active, .av3_container button:active, .av3_container input[type="submit"]:active, .av3_container input[type="reset"]:active, .av3_container input[type="button"]:active {background: #fafafa;color: #222;border: 1px solid #d2d2d2;border-bottom: 1px solid #d8d8d8;padding: .55em 1.1em;}
.av3_container a.button.active, .av3_container button.active, .av3_container input[type="submit"].active, .av3_container input[type="reset"].active, .av3_container input[type="button"].active {color: #f5f5f5 !important;background-color: #606060 !important;text-shadow: 0 1px #333 !important;border-color: transparent !important;box-shadow: 0 1px 5px 0px rgba(0,0,0,.7) inset !important;background-image: none;}
.av3_container a.button.white, .av3_container button.white, .av3_container input.white {color: #505050;text-shadow: 0 1px #fff;border-color: #ddd #ccc #aaa;box-shadow: 0 1px 1px rgba(0,0,0,.15),0 1px 0 0 rgba(255,255,255,.7) inset;}
.blue, .red, .yellow, .green, .grey, .black, .night, .white {border-style: solid;}
.av3_container .white, .av3_container a.button.white, .av3_container button.white, .av3_container input[type="submit"].white, .av3_container input[type="reset"].white, .av3_container input[type="button"].white {background-color: #fff;}
.av3_container a.button.white, .av3_container button.white, .av3_container input.white {color: #505050;text-shadow: 0 1px #fff;border-color: #ddd #ccc #aaa;box-shadow: 0 1px 1px rgba(0,0,0,.15),0 1px 0 0 rgba(255,255,255,.7) inset;}
.av3_container a.button.white:hover, .av3_container button.white:hover, .av3_container input.white:hover {color: #111;}
.dark a.button.white, .dark a.button.white:hover, .dark button.white, .dark button.white:hover, .dark input.white {border-color: #555 #444 #333;}
.av3_container .grey, .av3_container a.button.grey, .av3_container button.grey, .av3_container input[type="submit"].grey, .av3_container input[type="reset"].grey, .av3_container input[type="button"].grey {background-color: #ededed;}
.av3_container a.button.grey, .av3_container button.grey, .av3_container input.grey {color: #343434;text-shadow: 1px 1px rgba(255,255,255,.35);border-color: #adadad #adadad #d7d7d7;position: relative;box-shadow: 0 1px 0px #adadad,0 1px 0 #fff inset;border-bottom-width: 2px;}
.av3_container a.button.grey:hover, .av3_container button.grey:hover, .av3_container input.grey:hover {background-color: #efefef;color: #363636;border-color: #aeaeae #aeaeae #d7d7d7;box-shadow: 0 1px 0px #afafaf,0 1px 0 #fff inset;}
.av3_container a.button.grey:active, .av3_container button.grey:active, .av3_container input.grey:active {box-shadow: 0 0 0px #afafaf,0 1px 0 #fff inset;border-bottom-color: #d7d7d7;color: #555;top: 1px;}
.av3_container .black, .av3_container a.button.black, .av3_container button.black, .av3_container input[type="submit"].black, .av3_container input[type="reset"].black, .av3_container input[type="button"].black {background-color: #404245;}
.av3_container a.button.black, .av3_container button.black, .av3_container input.black {color: #f5f5f5;text-shadow: 0 1px #222;border-color: #777 #333 #111;box-shadow: 0 2px 0 #111;position: relative;}
.av3_container a.button.black:hover, .av3_container button.black:hover, .av3_container input.black:hover {color: #fff;background-color: #444;}
.av3_container a.button.black:active, .av3_container button.black:active, .av3_container input.black:active {box-shadow: 0 1px 0 #111;top: 1px;}
.dark a.button.black, .dark a.button.black:hover, .dark button.black, .dark button.black:hover, .dark input.black {border-color: #666 #252525 #101010;}
.av3_container .night, .av3_container a.button.night, .av3_container button.night, .av3_container input[type="submit"].night, .av3_container input[type="reset"].night, .av3_container input[type="button"].night {background-color: #111;}
.av3_container a.button.night, .av3_container button.night, .av3_container input.night {color: #f5f5f5;text-shadow: 0 1px #222;border-color: #555 #292929 #1b1b1b;box-shadow: 0 1px 1px rgba(0,0,0,.25),0 1px 0 0 rgba(255,255,255,.25) inset;}
.av3_container a.button.night:hover, .av3_container button.night:hover, .av3_container input.night:hover {color: #fff;}
.dark a.button.night, .dark a.button.night:hover, .dark button.night, .dark button.night:hover, .dark input.night {box-shadow: 0 1px 1px rgba(0,0,0,.25),0 1px 0 0 rgba(255,255,255,.08) inset;border-color: #555 #202020 #191919;}
.av3_container .red, .av3_container a.button.red, .av3_container button.red, .av3_container input[type="submit"].red, .av3_container input[type="reset"].red, .av3_container input[type="button"].red {background-color: #ed1c24;}
.av3_container a.button.red, .av3_container button.red, .av3_container input.red {color: #f5f5f5;text-shadow: 0 1px rgba(0,0,0,.3);border-color: #e47b7b #c2484c #a93135;box-shadow: 0 1px 1px rgba(0,0,0,.2),0 1px 0 0 rgba(255,255,255,.3) inset;}
.av3_container a.button.red:hover, .av3_container button.red:hover, .av3_container input.red:hover {color: #fff;}
.dark a.button.red, .dark a.button.red:hover, .dark button.red, .dark button.red:hover, .dark input.red {border-color: #e47b7b #e75a45 #a93135;}
.av3_container .orange, .av3_container a.button.orange, .av3_container button.orange, .av3_container input[type="submit"].orange, .av3_container input[type="reset"].orange, .av3_container input[type="button"].orange {background-color: #f48a01;}
.av3_container a.button.orange, .av3_container button.orange, .av3_container input.orange {color: #f5f5f5;text-shadow: 0 1px rgba(0,0,0,.4);border-color: #fb0 #fa0 #b70;box-shadow: 0 1px 0 rgba(0,0,0,.4),0 1px 0 0 rgba(255,255,255,.3) inset;}
.av3_container a.button.orange:hover, .av3_container button.orange:hover, .av3_container input.orange:hover {color: #fff;}
.dark a.button.orange, .dark a.button.orange:hover, .dark button.orange, .dark button.orange:hover, .dark input.orange {border-color: #fb0 #fa0 #b70;}
.av3_container .yellow, .av3_container a.button.yellow, .av3_container button.yellow, .av3_container input[type="submit"].yellow, .av3_container input[type="reset"].yellow, .av3_container input[type="button"].yellow {background-color: #ffd62c;}
.av3_container a.button.yellow, .av3_container button.yellow, .av3_container input.yellow {color: #740;text-shadow: 0 1px rgba(255,255,255,.4);border-color: #ff9 #cc9 #b70;box-shadow: 0 2px 0 0 BB7700;}
.av3_container a.button.yellow:hover, .av3_container button.yellow:hover, .av3_container input.yellow:hover {color: #583404;}
.dark a.button.yellow, .dark a.button.yellow:hover, .dark button.yellow, .dark button.yellow:hover, .dark input.yellow {border-color: #ff9 #ffd62c #fb0;}
.av3_container .green, .av3_container a.button.green, .av3_container button.green, .av3_container input[type="submit"].green, .av3_container input[type="reset"].green, .av3_container input[type="button"].green {background-color: #a5d13f;}
.av3_container a.button.green, .av3_container button.green, .av3_container input.green {color: #285004;text-shadow: 0 1px rgba(255,255,255,.45);border-color: #bddd73 #85bd53 #5b8230;_box-shadow: 0 1px 1px rgba(0,0,0,.2),0 1px 0 0 rgba(255,255,255,.3) inset;}
.av3_container a.button.green:hover, .av3_container button.green:hover, .av3_container input.green:hover {color: #193401;}
.dark a.button.green, .dark a.button.green:hover, .dark button.green, .dark button.green:hover, .dark input.green {border-color: #bddd73 #85bd53 #5b8230;}
.av3_container .blue, .av3_container a.button.blue, .av3_container button.blue, .av3_container input[type="submit"].blue, .av3_container input[type="reset"].blue, .av3_container input[type="button"].blue {background-color: #2ea2cc;}
.av3_container a.button.blue, .av3_container button.blue, .av3_container input.blue {color: #fff;text-shadow: 0 1px rgba(0,0,0,.45);border-color: #3d9aca #4593bd #1f78a7;box-shadow: 0 2px 0 #1f78a7;position: relative;}
.av3_container a.button.blue:hover, .av3_container button.blue:hover, .av3_container input.blue:hover {color: #eef9fe;background-color: #1e8cbe;border-color: #1f78a7 #0a5278 #07364e;}
.av3_container a.button.blue:active, .av3_container button.blue:active, .av3_container input.blue:active {color: #eef9fe;background-color: #1e8cbe;border-color: #1f78a7 #0a5278 #07364e;box-shadow: 0 1px 0 #1f78a7;top: 1px;}
.dark a.button.blue, .dark a.button.blue:hover, .dark button.blue, .dark button.blue:hover, .dark input.blue {border-color: #399cd0 #1f78a7 #0a5278;}
.av3_container .ico3 {width: 30px;height: 30px;display: block;overflow: hidden;}
.av3_container ul.tabs {display: block;margin: 0 0 0px 0;padding: 0;}
.av3_container ul.tabs li {display: block;width: auto;padding: 0;float: left;margin-bottom: 0;}
.av3_container ul.tabs li a {display: block;text-decoration: none;width: auto;height: 30px;padding: 0px 20px;line-height: 30px;border: solid 1px #ddd;border-width: 1px 1px 0 0;margin: 0;background: #f5f5f5;font-size: 13px;cursor: pointer;border-top-left-radius: 2px;border-top-right-radius: 2px;}
.av3_container ul.tabs-content {margin: 0;display: block;padding: 0;}
.av3_container ul.tabs-content > li {background-color: #f0f0f0;}
.av3_container ul.tabs-content > li.active {display: block;}
.av3_container ul.tabs:before, .av3_container ul.tabs:after {content: " ";display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.av3_container ul.tabs:after {clear: both;}
.av3_container ul.tabs {zoom: 1;}
.av3_container form {margin-bottom: 1em;}
.av3_container fieldset {margin-bottom: 1em;}
.av3_container fieldset legend {padding-bottom: .7em;padding-top: 1em;font-size: 1.3em;font-weight: normal;}
.av3_container input[type="text"], .av3_container input[type="password"], .av3_container input[type="email"], .av3_container input[type="tel"], .av3_container input[type="url"], .av3_container textarea, .av3_container select {border: 1px solid #adadad;padding: .5em .7em;font-size: 12px;line-height: 1.4em;border-radius: 1px;color: #777;margin: 0;width: 210px;max-width: 100%;display: block;margin-bottom: 1em;background-color: #fff;-ms-box-sizing: border-box;box-sizing: border-box;box-shadow: inset 0 4px 0px rgba(0,0,0,.05);}
.av3_container input[type="text"].fat, .av3_container input[type="password"].fat, .av3_container input[type="email"].fat, .av3_container input[type="tel"].fat, .av3_container input[type="url"].fat, .av3_container textarea, select {padding: .7em;}
.ie .av3_container input[type="text"].fat, .ie .av3_container input[type="password"].fat, .ie .av3_container input[type="email"].fat, .ie .av3_container input[type="tel"].fat, .ie .av3_container input[type="url"].fat, .ie .av3_container textarea, .ie .av3_container select {padding: .8em;}
.av3_container select {padding: 0;}
.av3_container input[type="text"]:focus, .av3_container input[type="password"]:focus, .av3_container input[type="email"]:focus, .av3_container input[type="tel"]:focus, .av3_container input[type="url"]:focus, .av3_container textarea:focus {border-color: #c0c0c0;color: #555;background-color: #f5f5f5;}
.av3_container textarea {min-height: 100px;}
.av3_container legend {display: block;font-weight: bold;}
.av3_container select {width: 220px;}
.av3_container input[type="checkbox"] {display: inline;}
.av3_container label span, .av3_container legend span {font-weight: normal;color: #444;}
.ie7 img {-ms-interpolation-mode: bicubic;}
.av3_container .hidden {display: none;}
.av3_container .left {float: left;}
.av3_container .right {float: right;}
.av3_container .center {margin-left: auto;margin-right: auto;display: block;clear: both;}
.clear {clear: both;display: block;font-size: 0;height: 0;line-height: 0;width: 100%;}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .one_one, .one_half, .one_third, .two_third, .one_fourth, .two_fourth, .three_fourth, .col {margin-left: 1.25%;margin-right: 1.25%;float: left;display: block;}
h1.full, h2.full, h3.full, h4.full, h5.full, h6.full {padding-left: 1.25%;padding-right: 1.25%;}
.grid_1 {width: 5.83%;}
.grid_2 {width: 14.16%;}
.grid_3 {width: 22.5%;}
.grid_4 {width: 30.83%;}
.grid_5 {width: 39.16%;}
.grid_6 {width: 47.5%;}
.grid_7 {width: 55.83%;}
.grid_8 {width: 64.16%;}
.grid_9 {width: 72.5%;}
.grid_10 {width: 80.83%;}
.grid_11 {width: 89.16%;}
.grid_12 {width: 97.5%;}
.one_one {width: 97%;}
.one_half {width: 47%;}
.one_third {width: 30%;}
.two_third {width: 64%;}
.one_fourth {width: 22%;}
.two_fourth {width: 47%;}
.three_fourth {width: 72%;}
.one-column .col {width: 97.5%;}
.two-column .col {width: 47.5%;}
.three-column .col {width: 30.83%;}
.four-column .col {width: 22.5%;}
.five-column .col {width: 17.5%;}
.six-column .col {width: 14.16%;}
.one-column.no-gutter .col {width: 99.99%;}
.two-column.no-gutter .col {width: 50%;}
.three-column.no-gutter .col {width: 33.33%;}
.four-column.no-gutter .col {width: 25%;}
.five-column.no-gutter .col {width: 20%;}
.six-column.no-gutter .col {width: 16.66%;}
.no-gutter .col {margin-left: 0px;margin-right: 0px;}
.first {margin-left: 0px;}
.last {margin-right: 0px;}
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {}
.container {min-width: 600px;max-width: 1280px;margin: 0 auto;}
.container:before, .container:after {content: "";display: table;}
.container:after {clear: both;}
.container {}
figure:before, figure:after {content: "";display: table;}
figure:after {clear: both;}
figure {}
.ease-out-quint {-webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);transition-timing-function: cubic-bezier(.23,1,.32,1);}
.ease-out-expo {-webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);transition-timing-function: cubic-bezier(.19,1,.22,1);}
.ease-out-circ {-webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);transition-timing-function: cubic-bezier(.075,.82,.165,1);}
.ease-out-quart {-webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);transition-timing-function: cubic-bezier(.165,.84,.44,1);}
.ease-out-cubic {-webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);transition-timing-function: cubic-bezier(.215,.61,.355,1);}
.av3_container .button {background-image: none;}